.Lista{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
}

.Checkbox{
    margin: 0 10px;
    /* colocar en columnas*/
    width: 50%;
}